.img {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15%;
    min-height: 200px;
    border-radius: 15%;
}

.attr-style {
    position: relative;
    top: 5rem;
    margin-bottom: 1rem;
}

.button {
    position: relative;
    display:inline-block;
    padding:0.7em 0em;
    border:0.16em solid #979494c4;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size: 15px;
    color:#ffffff;
    font-weight: bold;
    background-color: rgb(105, 105, 112);
    top: 10rem;
    padding: 7px 12px 7px 12px ;
    text-shadow: 2px 2px 4px #000000;
    text-align:center;
    transition: all 0.15s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.data {
    display: flex;
    flex-direction: column;
}

.cell {
    margin: 0px 5px 10px 5px;
}

.headline {
    color: rgb(225, 225, 233);
    font-size: 20px;
    font-weight: bold;
}

.value {
    color: rgb(240, 128, 128);
}