.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  display: inline;
  padding-top: 2rem;
  margin-bottom: 1rem;
  width: 350px;
  border-radius: 35%;
}

.people {
  background: black;
}

.field {
  position: relative;
  display: none;
  margin-bottom: 10rem;
}